*{
    margin: 0;
    padding: 0;
}

.container {
  max-width: 400px;
  margin: 2rem auto; /* espacio desde arriba y centrado */
  padding: 20px;
  position: relative; /* ahora dentro del flujo */
  background:yellow; /* opcional, para verlo sobre el fondo */
  border-radius: 10px; /* opcional */
     bottom: 0;
   left: 0;
}


.row{
    background-color: transparent;
    display: flex;
   
}
.boton{
    border: solid 2px #555555;
    max-width: 200px;
    border-radius: 20px;
    text-align: center;
    padding:5px;

}
.col{
 padding-top: 10px;
}
h2{
    margin-bottom: 1rem;
    font-weight: bold;
}
@media (max-width: 768px) {


    
}