/* estilos generales de ul/li */
ul {
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.2;
}

/* botón */
.botonNav {
  border: solid 2px #555555;
  border-radius: 30px;
  padding: 5px 10px;
  text-align: center;
  background-color: rgba(210, 39, 126, 0.2);
  color:white;
  transition: 0.3s;
  cursor: pointer;
}

.botonNav:hover {
  background-color: rgba(210, 39, 126, 0.5);
}

/* ajustes para móviles */
@media (max-width: 992px) {
  .offcanvas {
    width: 100% !important;   /* ocupar todo el ancho */
    max-width: 100% !important;
  }

  .offcanvas-body {
    height: 100vh;            /* ocupar toda la altura de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;   /* centra verticalmente los elementos si quieres */
    align-items: center;       /* centra horizontalmente */
    padding: 2rem;
    background-color: #343a40; /* fondo visible */
  }

  .navbar-nav {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    width: 100%;
  }

  .nav-item {
    margin-bottom: 0.5rem;
  }

  .offcanvas .botonNav {
    width: 100%;
    margin-top: 1rem;
  }
}


/* ajustes para escritorio */
@media (min-width: 992px) {
  .navbar-nav {
    justify-content: flex-end; /* alineamos a la derecha */
    align-items: center;
  }

  .nav-item {
    margin: 0 0.5rem;
  }
h1{
  color: black;
}
}
