/* --- Estilos base --- */
ul {
  display: flex;
  gap: 2rem;
  color: white;
  align-items: center;
}

li {
  padding: 5px;
  margin: 5px;
  list-style: none;
  font-size: 1.3rem;
}

.botonNav {
  border: solid 2px #555555;
  border-radius: 30px;
  padding: 10px 0;
  width: 200px;
  text-align: center;
  background-color: rgba(210, 39, 126, 0.2);
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.botonNav:hover {
  background-color: rgba(210, 39, 126, 0.5);
}

/* --- VISTA ESCRITORIO --- */
@media (min-width: 992px) {
  /* mostramos el menú dentro del nav */
  .offcanvas {
    position: static;
    transform: none;
    visibility: visible;
    display: flex !important;
    background: transparent;
  }

  .offcanvas-body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .navbar-nav {
    flex-direction: row;
    margin-left: auto;
  }

  .offcanvas-header,
  .btn-close {
    display: none;
  }
}

/* --- VISTA MÓVIL --- */
@media (max-width: 991px) {
  .offcanvas-body {
    background-color: #343a40;
    text-align: center;
  }

  .navbar-nav {
    flex-direction: column;
    gap: 1rem;
  }

  .offcanvas .botonNav {
    width: 100%;
  }
  .botonNav{
    min-width: 250px;
  }
}


/* ajustes para escritorio */
@media (min-width: 992px) {
  .navbar-nav {
    justify-content: flex-end; /* alineamos a la derecha */
    align-items: center;
  }

  .nav-item {
    margin: 0 0.5rem;
  }
h1{
  color: black;
}
}
