.banner {
  position: absolute;
  top: 10rem;
  right: 8rem;
  max-width: 700px; 
}

.banner img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .banner {
 display: none;
  }

}
