.banner {
  position: absolute;
  top: 10rem;
  right: 8rem;
  width: 700px; 
  height: 400px;  
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;     
  object-fit: cover;  
  display: block;
}
@media (max-width: 768px) {
  .banner {
 
    position: absolute;
    top: 35rem;
    right: 1rem;
    width: 310px;
    height: auto;
    overflow: hidden;
}
h1, h2, h3 {
  margin-left: 0.5rem;
  margin-top: 2rem;
}
}

