.banner {
  position: relative; /* antes absolute */
  margin: 2rem auto; /* centra horizontalmente */
  width: 700px;
  height: 400px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
  .banner {
    width: 310px;
    height: auto;
  }
  h1, h2, h3 {
    margin-left: 0.5rem;
    margin-top: 2rem;
  }
}
