.animacion-derecha {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  min-width: 700px;
  z-index: 5;

  /* Animación de entrada */
  animation: entrarDesdeDerecha 1.2s ease-out forwards;
}

/* Imagen dentro del contenedor */
.animacion-img {
  width: 100%;
  display: block;
}

@keyframes entrarDesdeDerecha {
  0% {
    transform: translateY(-50%) translateX(100%); 
    opacity: 0;
  }
  100% {
    transform: translateY(-50%) translateX(0);  
    opacity: 1;
  }
}
@media (max-width: 768px) {
.animacion-derecha{
    min-width: 150px;
}

}
